<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548154499498-aitg4i1mpgggih73ltafshu7650f8us8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548154499498-aitg4i1mpgggih73ltafshu7650f8us8</string>
	<key>API_KEY</key>
	<string>AIzaSyDakjDXLD3tKtX3mV5MRcOE4bnZXJ31Qr0</string>
	<key>GCM_SENDER_ID</key>
	<string>548154499498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.VazhenAndy.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios15-8856f</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios15-8856f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548154499498:ios:eb4711fc01817191680bd3</string>
</dict>
</plist>